/*General styles and variable*/
:root{
    --iris: #4D5AE5;
    --navy-blue: #2E2F42; 
    --slate: #434455;
    --white: #FFFFFF;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --ocean: #404BBF;
}
body{
    font-family: 'Roboto',
        sans-serif;
    font-style: normal;
    color: #434455;
    background-color: #FFFFFFFF;
    }


 .list {
     list-style-type: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;

    }

.link {
    text-decoration: none
}


/*Classes style*/

.top-line-bg {
    border-bottom: 1px solid var(--cornflower, #E7E9FC);
    background: var(--white, #FFF);
    width: 1440px;
    height: 72px;
    flex-shrink: 0;
}

.logo{
    color: var(--iris, #4D5AE5);
        font-family: Raleway,sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        width: 44px;
        text-decoration: none;
}


.logo-part{
    color: var(--navy-blue); 
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 116.667%;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        width: 71px;
        text-decoration: none;
        color: #f4f4f4fd;
}
.logo-part2-light{
color: var(--cloud, #2E2F42);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 116.667%;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.topline-link{
    color: var(--navy-blue, #2E2F42);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 0.32px;
}

.studio-section:hover{
color: var(--ocean);
}
.studio-section:focus {
    color: var(--ocean);
}

.portfolio-section:hover {
color: var(--ocean);
}

.portfolio-section:focus {
    color: var(--ocean);
}

.topline-contact{
    color: var(--slate, #434455);
        
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.32px;
        list-style: none;
        
}


.dark-bg{
    background-color: var(--navy-blue);
    width: 1440px;
        height: 600px;
        flex-shrink: 0;
}
.title{
    color: var(--white, #FFF);
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 107.143%;
        letter-spacing: 1.12px;
        width: 496px;
}

.button {
    font-family:'Roboto',sans-serif;
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    color: var(--white, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.64px;
    cursor: pointer;
}
.button:hover{background-color: #404BBF;}
.button:focus{
        background-color:  #404BBF;

}

.feature-title{
    color: var(--navy-blue, #2E2F42);
        font-size: 20px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0.4px;
        width: 264px;
}
.feature-body{
    color: var(--slate, #434455);
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.32px;
        width: 264px;
}

.title-two{
    color: var(--navy-blue, #2E2F42);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 111.111%;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}

.purpose-images{
    display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        color: var(--cornflower);
}

.light-bg{
    background: var(--cloud, #F4F4FD);
    width: 1440px;
        height: 732px;
        flex-shrink: 0;
}

.card-team{
border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    display: inline-flex;
        padding-bottom: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
}

.team-member{
    background: url(<path-to-image>), lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
    width: 264px;
    height: 260px;
}

.card-content{
    display: flex;
        width: 232px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        color: var(--navy-blue, #2E2F42);
            text-align: center;
            font-size: 20px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0.4px;
}
.card-content-position{
    color: var(--slate, #434455);
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-size: 16px;
}

.dark-bg-footer {
    background-color: var(--navy-blue);
    width: 1440px;
        height: 312px;
        flex-shrink: 0;
}
.footer-description{
    color: var(--cloud, #F4F4FD);
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.32px;
        width: 264px;
}

.filters{
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
}

.all-button{
    border-radius: 4px;
        border: 1px solid var(--CORNFLOWER, #E7E9FC);
        background: var(--CLOUD, #F4F4FD);
        display: flex;
            padding: 12px 24px;
            justify-content: center;
            align-items: center;
            color: var(--IRIS, #4D5AE5);
                text-align: center;
                font-size: 16px;
                font-weight: 500;
                line-height: 150%;
                letter-spacing: 0.64px;
                cursor: pointer;
}
.all-button:hover{
    color: var(--white, #FFF);
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 0.64px;
    border-radius: 4px;
        background: var(--OCEAN, #404BBF);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
cursor: pointer;

}

.all-button:focus {
    color: var(--white, #FFF);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.64px;
    border-radius: 4px;
    background: var(--OCEAN, #404BBF);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
cursor: pointer;

}

.project-card-format{
    border: 1px solid var(--cornflower, #E7E9FC);
        background: var(--white, #FFF);
        display: flex;
            width: 360px;
            height: 420px;
            padding-bottom: 0px;
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
            flex-shrink: 0;
}

.card-content-pportfolio{
    display: flex;
        padding: 0px 16px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
}

.portfolio-h2{
    color: var(--navy-blue, #2E2F42);
        font-size: 20px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0.02em;
}
.type{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}
